*{
  padding: 0;
  margin: 0;
}
header{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
}
header>img{
  position: absolute;
  top: 10px;
  left: 20px;
  width: 80px;
}
header>img:hover{
  transform: scale(1.05);
  cursor:pointer;
}
header>h1{
  text-transform: uppercase;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/*main*/
main{
  min-height: 800px;
  height: auto;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculadora{
  background-color: wheat;
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 5px solid black;
  padding: 15px;
  border-radius: 10px;
}
.calculadora>input{
  padding: 20px 20px;
  font-size: 33px;
  text-align: end;
  margin: 15px 0;
  border-radius: 10px;
border: 6px solid black;
}
.contenedor-botones{
  display: flex;
  flex-wrap: wrap;
}
button{
  width: 100px;
  height: 100px;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}
.contenedor-botones>.igual{
  width: 400px;
  background-color: lightblue;
  border-radius: 5px;
  border: 1px solid white;
}
/*footer*/
footer{
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px 0;
}
footer>p{
  color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer>p>span{
  color: gold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (max-width:480px){
  header>img{
    left: 2px;
  }
  header>h1{
    font-size: 28px;
  }
  /*main*/
  .calculadora{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid black; */
    border: none;
    padding: 5px;
    border-radius: 10px;
    /* box-shadow: 3px 3px 2px 3px white; */
  }
  .calculadora>input{
    width: 80%;
    padding: 20px 20px;
    font-size: 33px;
    text-align: end;
    margin: 15px 0;
    border-radius: 10px;
    border: 4px solid black;
  }
  .contenedor-botones{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  button{
    width: 72px;
    height: 70px;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
  }
  .contenedor-botones>.igual{
    width: 100%;
  }
}
